# Chave de API do Google Cloud Console
# Obtenha em: https://console.cloud.google.com/
YOUTUBE_API_KEY=SUA_CHAVE_AQUI_DEVE_SER_INSERIDA

# Outras configurações (se houver)
# BASE_URL=https://www.googleapis.com/youtube/v3/